{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
{% for obj in data%}
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">{{obj.name}}</span><br> {{obj.working}}</h1>

                    <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">

                    <a href="https://github.com/28saurbh" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                    <a href="https://www.linkedin.com/in/sourabh-garewal-6a8a08185/" class="home__social-icon"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://twitter.com/Sourabh89480955" class="home__social-icon"><i class='bx bxl-twitter' ></i></a>
            
                </div>

                <div class="home__img">
                   {% if photo %}
                        {% for img in photo %}  
                          <img src="{{img.profile_picture.url}}" alt="">
                        {% endfor %} 
                    {% else %}...
                    
                    <a href="https://photos.app.goo.gl/qVuavGBWHSwQ6qrP7"> <img src="https://photos.app.goo.gl/qVuavGBWHSwQ6qrP7" /> </a>
                    {% endif %}
                        
                    
                    
               
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                    {% if photo %}
                   
                        {% for img in photo %}   
                        <img src="{{img.about_picture.url}}" alt="">
                         {% endfor %} 
                    {% else %}
                
                  <a href="https://lh3.googleusercontent.com/V0See11-8HGe9RykmnL0Vxzpbt5w0bbuIafGcx-Q_LK4ZSmn2aFb1BDA-pn67_qmqDWImQCr_YUtGul_4iq7gdlG3D-hJukkK2l5hi5mlqDm_p5iI-5YOcO5GL9v4UPCmlt2ZRd2-A=w2400?source=screenshot.guru"> <img style="width: 320px;" src="https://lh3.googleusercontent.com/V0See11-8HGe9RykmnL0Vxzpbt5w0bbuIafGcx-Q_LK4ZSmn2aFb1BDA-pn67_qmqDWImQCr_YUtGul_4iq7gdlG3D-hJukkK2l5hi5mlqDm_p5iI-5YOcO5GL9v4UPCmlt2ZRd2-A=w600-h315-p-k" /> </a>
                    {% endif %}
                    </div>
                   <div>
                        <h2 class="about__subtitle">I'am {{obj.name}}</h2>
                        <p class="about__text">{{obj.about}}</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                     <h2 class="skills__subtitle">Certificates Link :&nbsp;&nbsp;&nbsp; <a style="font-size: medium;" href="https://drive.google.com/drive/folders/12lyTu2PqwmgZMDF3wDynvNC-eIz0SipP?usp=sharing">Click Here...</a></h2>
                     
                        <h2 class="skills__subtitle">Profesional Skills:</h2>
                        <p class="skills__text">{{obj.skilldes}}</p>

                        {% for obj1 in skill %}
                        
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">{{obj1.SkName}}</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">{{obj1.percent}}%</span>
                            </div>
                        </div>

                        {% endfor %}
                       
                       
                        
                    </div>
                    
                    <div>              
                        <img src="{% static 'images/work3.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="{% static 'images/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work2.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work3.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work4.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work5.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work6.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form" method="POST">
                        {% csrf_token %}
                        <input type="text" required placeholder="Name" name="name" class="contact__input">
                        <input type="mail" required placeholder="Email" name="email" class="contact__input">
                        <textarea name="contact_des" required id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="submit" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">{{obj.name}}</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/28saurbh" class="footer__icon"><i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com/in/sourabh-garewal-6a8a08185/" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://twitter.com/Sourabh89480955" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
                <a href="https://twitter.com/Sourabh89480955" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
         <script src="https://unpkg.com/scrollreveal"></script> 

        <!--===== MAIN JS =====-->
         <script src=" {% static 'js/main.js' %} "></script> 
    
{% endfor %}
{% endblock content %}
