{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %}

{% block content %}
{% for obj in data%}
        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hi,<br>I'am <span class="home__title-color">{{obj.name}}</span><br> {{obj.working}}</h1>

                    <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">

                    <a href="https://github.com/28saurbh" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                    <a href="https://www.linkedin.com/in/sourabh-garewal-6a8a08185/" class="home__social-icon"><i class='bx bxl-linkedin' ></i></a>
                    <a href="https://twitter.com/Sourabh89480955" class="home__social-icon"><i class='bx bxl-twitter' ></i></a>
            
                </div>

                <div class="home__img">
                   {% if photo %}
                        {% for img in photo %}  
                          <img src="{{img.profile_picture.url}}" alt="">
                        {% endfor %} 
                    {% else %}...
                        <img src="https://lh3.googleusercontent.com/5V26dgvagEs6G_HHdfE1o9HcYK_iEU7uF2DoG3uLI6Q5lLyqx-M_fP4_MO_vVjBYj19hD4nHVRazSvcxWaZ6st6wFejhnqmz6Vxs3nq0IAcQj1o03FIjyHZ4x__nKJ7y6XwL_bn_RjmJE1yx2ucNI-N3s9FaEip_vgDHuik32etOj7UyfXQb0bd4rOnzO5skkuMDslX7hXSIq3UOQGaxZ3Ea5wSs5Dwd0I8hfFaX-Sdskjzw9Yss4-7NNvnr9X1uyIUkJplKvvfPto6CXz3zx7-skdDo-4neKpLHPRGxM_HEK7S9iflhoOseUUKUJa-2yPCa2TIaE5qpxFGMrAD9IKQ-DaPVRmvkisDVio2k4g9hKBm1BkBYfu_X6m6reea27RGbfFcB4BaNq4THxGMMMfR6OA3NV5FRBGVyPEbEaqdPVn865Gbor6F9azoqO1C7gBsfFIEEC0BRoLsLyNe6FPdZN5yEnxeh3XUTPCchnnc-7NKEdYBLBkvGq_G_zE1f-jLhTefrwKUvF6Tbeqg0tcFHw2Y4yHYBK72ZRVexHJFNACUdMtOM8_87LqQ2O_9dMtPE-__MPti2F2MJEnWevF8oGwoehg-zLYrJVAh4ytSgfjdN8cN6pUwkcZ06o4wWJEoT1Gc_mZC6xkqp1TOHRoGDqso4UvKx8VfgOlmF-Itna0K83Yuw86-ZhSvWMQ=w242-h243-no?authuser=0" alt="">
                    
                    {% endif %}
                        
                    
                    
               
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                    {% if photo %}
                   
                        {% for img in photo %}   
                        <img src="{{img.about_picture.url}}" alt="">
                         {% endfor %} 
                    {% else %}
                ...
                    <img src="https://lh3.googleusercontent.com/kGQW73L2sTjPTxbxZHuGsxfNxEHdwVwX563R1F4ybigOlfp1lpGg51GkeK3LUwVdSCQacZV95DXSMd0EbCiBaW_M_vOrKKFg58PbR4W9R1HmY6oZRcLnONuyo13lxIBKCwAQRtq0PyJI2g22HH-cVo9_Rv5ycUND4YXdJb2TlCyQ45TvM2DENIet0NF8s1gAT7I5VGJhNIhsjfLmYbvLVLdAta6C5_ZQ-KrXjvzmC7SjYvBxYLXX7CtXEa4-aZ9HQAfib9E85Bt1voT-s7li1CiI8fuaYwdG8VpnmM8XxkOcoMsshe69RUEJLLX92joVMPMQ1FxFwxSP6na6onDrKs8CoxZyCW4lT3wgYLXO83EgQ7ltP2DNNgmvUEoW54t3IGIbKalpkFv5hjdn95D4i7Z4o03GehO52VmAYucdFDEjZh_3lBdaklKI3AZ1nASl3DhDPGM-uCl_K-lhT6bAo5r8W6m9ZkOTuJsWYYqOQ1s_NgIDTWgYG9Lsnj2pig5VUlnEOilZnAdV6eYYQmIxBiw0sdlCk3RP25ckCZEa9sv3Hiw4qijsQqi6KvV5rw_wSjivfpUW4R7acWituOgISs-XXjaMTaZ2DzNgLQvx28aUkc4p6rvt5OmM0iZLqtjtQd4TYW-D83MVWMb4fRgxFe1EQTj6iOE0sYwEheCFzWUn8yciwkhR7kTPvteL0g=w217-h220-no?authuser=0" alt="">
                    {% endif %}
                    </div>
                   <div>
                        <h2 class="about__subtitle">I'am {{obj.name}}</h2>
                        <p class="about__text">{{obj.about}}</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Profesional Skills</h2>
                        <p class="skills__text">{{obj.skilldes}}</p>

                        {% for obj1 in skill %}
                        
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-html5 skills__icon'></i>
                                <span class="skills__name">{{obj1.SkName}}</span>
                            </div>
                            <div class="skills__bar skills__html">

                            </div>
                            <div>
                                <span class="skills__percentage">{{obj1.percent}}%</span>
                            </div>
                        </div>

                        {% endfor %}
                       
                       
                        
                    </div>
                    
                    <div>              
                        <img src="{% static 'images/work3.jpg' %}" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                    <div class="work__img">
                        <img src="{% static 'images/work1.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work2.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work3.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work4.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work5.jpg' %}" alt="">
                    </div>
                    <div class="work__img">
                        <img src="{% static 'images/work6.jpg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form action="" class="contact__form" method="POST">
                        {% csrf_token %}
                        <input type="text" required placeholder="Name" name="name" class="contact__input">
                        <input type="mail" required placeholder="Email" name="email" class="contact__input">
                        <textarea name="contact_des" required id="" cols="0" rows="10" class="contact__input"></textarea>
                        <input type="submit" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">{{obj.name}}</p>
            <div class="footer__social">
                <a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
                <a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
                <a href="https://github.com/28saurbh" class="footer__icon"><i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com/in/sourabh-garewal-6a8a08185/" class="footer__icon"><i class='bx bxl-linkedin' ></i></a>
                <a href="https://twitter.com/Sourabh89480955" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
                <a href="https://twitter.com/Sourabh89480955" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
            </div>
            <p>&#169; 2020 copyright all right reserved</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
         <script src="https://unpkg.com/scrollreveal"></script> 

        <!--===== MAIN JS =====-->
         <script src=" {% static 'js/main.js' %} "></script> 
    
{% endfor %}
{% endblock content %}