{% extends 'base1.html' %}

{% block title %}
<title>Edit Image</title>
{% endblock title %}

{% block content %}
<div class="container">

    <form class="mt-5" method='POST'enctype="multipart/form-data" >
        {% csrf_token %}
            <label class="col-lg-3">Name:</label>
            <input type="file" name="about_picture" class="form-control col-lg-6" >
            
            <button type="submit" class="btn btn-primary col-lg-1">Submit</button>
</form> 

</div>

{% endblock content %}